body{
	font-family: 'Rajdhani', sans-serif;
	background-color:rgba(169, 136, 136, 0.6);
}

.container{
	margin: 0 auto;
	max-width: 1200px;
	text-align:center;
}
.title{
	margin:30px auto;
}
.title h1{
	margin:0 auto;
	text-align: center;
}
.tablero{
	margin: 0 auto;
	text-align: center;
	padding: 10px 0px;
}

table{
	margin: 0 auto;
	border-collapse: unset;
	border: 2px solid transparent;
	border-radius: 5px;
	border-spacing: 2px;
}
.muerta, .viva{
	width:30px;
	height:30px;
	border-radius: 3px
}
td,tr{
	border:0px;
	border-radius: 3px;
}

.muerta{
	background-color:black;
}
.viva{
	background-color:white;
	opacity:0.8;
}

.btn{
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0px;
}
.funciones{
	margin-top: 20px;
	margin-bottom: 30px;
}
.info{
	padding:10px 50px;
	margin-top: 30px;
}

.info h3{
	margin: 10px 0;
	float:left;
}
.info .viva, .info .muerta{
	margin: 10px 0px;
	width:25px;
	height:25px;
}
.btn.active{
    background: rgba(4, 4, 4, 0.6);
    color: rgba(255, 255, 255, 0.8);
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: 0px auto -webkit-focus-ring-color; 
	outline-offset: unset;
}
.opciones{
	margin: 20px 0px;
}
.opciones h3{
	float:none;
}
